.content{
	padding-left: 2.5%;
	padding-right:2.5%;
	padding-top:44px;
	padding-bottom:25px;
	position: relative;
}
.content .p1{
	font-size:16px;
	color:#fd9802;
	line-height:16px;
	margin-top:15px;
	margin-bottom:15px;
}
.content .pro_list{
	width:3.04rem;
	padding-bottom:10px;
	border-bottom:1px solid #efefef;
}
.content .pro_list .proimg{
	width:1.04rem;
	float:left;
}
.content .pro_list .proinfo{
	width:2.0rem;
	float:left;
	padding-left: 0.2rem;
}
.clear{
	clear:both;
}
.content .pro_list img{
	width:1.04rem;
	height:1.04rem;
	display: block;
}
.content .pro_list .proinfo .name{
	font-size:14px;
	line-height: 20px;
	color:#666;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.content .pro_list .proinfo .count{
	font-size:16px;
	line-height:0.16rem;
	margin-top:0.48rem;
	color:#fd9802;
}
.content .pro_list .order_id{
	font-size: 12px;
	color:#333;
	margin-top:15px;
	line-height: 12px;
}
.content .qrcode{
	text-align: center;
}
.content .qrcode img{
	margin-top: 15px;
}
.content .qrcode p{
	font-size:15px;
	line-height:15px;
	margin-top:15px;
	margin-bottom:15px;
	color:#fd9802;
}
